# __pycache__
**/__pycache__

# .ipynb_checkpoints
**/.ipynb_checkpoints

artifacts/parsing/diplomas/spbu/work_doc/*
artifacts/parsing/diplomas/spbu/work_doc.tgz
artifacts/parsing/diplomas/spbu/work_doc_1/*
artifacts/parsing/diplomas/spbu/work_doc_2/*
